body {
	font-family: 'Ruda', sans-serif;
	background-image: url('../img/Background1.jpg');
}

.header {
	
}

.header a {
	float: ;
	color: #006F90;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
}

.header a.logo {
	color: #F3A704;
	font-size: 40px;
	font-weight: bold;
}

#company_intro_container {
	color: #65524C;
	font-size: 15px;
	left: 260px;
	top: 122px;
	position: relative;
}

#company_intro_container p {
	font-size: 15px;
	width: 25%;
	position: relative;
}

#ask_me_how_button {	
	border: 2px solid #F3A704;
	color: #F3A704;
	font-size: 9px;
	padding: 9px;
	height: 30px;
	width: 10%;
	top: 120px;
	left: 240px;
	border-radius: 10px;
	position: relative;
	text-align: center;
}

img {
	position: relative;
	left: 700px;
	bottom: 100px;
}

#seasonal_menus_container {
	background-color: #006F90;
	box-sizing: content-box;
	color: #FFFFFF;
	width: 100%;
	height: 270px;
	bottom: 50px;
	position: relative;
	text-align: center;
}

