@face-font {
	font-family: malayalam;
	src: url(/fonts/malayalam.tff)
}

body {
	font-family: malayalam;
	background-color: linen;
}

.navigation ul {
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 25px;
}

.navigation li {
	color: #006F90;
	font-weight: 100;
	display: inline;
}

.navigation li.logo {
	color: #F3A704;
	font-size: 40px;
}

#company_intro_container {
	color: #65524C;
	font-size: 15px;
	position: relative;
	left: 240px;
	top: 122px;
}

#company_intro_container p {
	font-size: 15px;
	position: relative;
}

#ask_me_how_button {	
	border: 2px solid #F3A704;
	color: #F3A704;
	font-size: 10px;
	padding: 15px;
	width: 9%;
	top: 120px;
	left: 240px;
	border-radius: 10px;
	position: relative; 
	text-align: center;
}

#seasonal_menus-container {
	background-color: #006F90;
	box-sizing: content-box;
	color: #FFFFFF;
	width: 100%;
	height: 400px;
	text-align: left;
	position: relative;
}

#pink_container {
	background-color: #ff4d88;
	box-sizing: content-box;
	color: #000000;
	height: 400px;
	width: 100%;
	text-align: right;
	position: relative;
}

#gold_container {
	background-color: #e6b800;
	box-sizing: content-box;
	color: #1a1aff;
	height: 600px;
	width: 100%;
	text-align: right;
	position: relative;
}