@font-face {
	font-family: "malayalam";
	src: url('../fonts/malayalam.ttf');
	  format('truetype');
}

body {
	background-color: linen;
}

.navigation ul {
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 25px;
}

.navigation li {
	color: #006F90;
	font-weight: 100;
	display: inline;
}

.navigation li.logo {
	color: #F3A704;
	font-size: 40px;
}

h1 {
	color: #65524C;
	font-size: 24px;
	position: relative;
	left: 240px;
	top: 122px;
}

p {
	color: #000000;
	font-size: 18px;
	position: relative;
	width: 280px;
	left: 195px;
	top: 120px;
}

h2 {
	border: 2px solid #F3A704;
	color: #F3A704;
	font-size: 12px;
	padding: 15px;
	width: 9%;
	top: 120px;
	left: 240px;
	border-radius: 10px;
	position: relative; 
	text-align: center;
}

h3 {
	background-color: #006F90;
	box-sizing: content-box;
	color: #FFFFFF;
	font-size: 38px;
	width: 100%;
	height: 270px;
	top: 160px;
	border: 1px solid #006F90;
	text-align: center;
	position: relative;
}